@font-face {
    font-family: plain-light;
    src: url(./fonts/plain-light-webfont.ttf);
}

@font-face {
    font-family: plain-regular;
    src: url(./fonts/plain-regular-webfont.ttf);
}

@font-face {
    font-family: silkserif-light;
    src: url(./fonts/silkserif-lightitalic-webfont.ttf);
}

@font-face {
    font-family: silkserif-regular;
    src: url(./fonts/silkserif-regularitalic-webfont.ttf);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}



html,
body {
    height: 100%;
    width: 100%;
    /* cursor: none; */
    overflow: hidden;
}

.mousefollower {
    border: 10px solid #fff;
    background-color: rgb(255, 255, 255);
    scale: 2;
    mix-blend-mode: difference;
}



#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 998;
    background-color: #030303;
    padding: 25vh 10vw;
}

.line {
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
}


.line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.line1-part1 h5,
.line1-part1 h6 {
    font-size: 3vw;
    font-weight: 100;
    font-family: silkserif-light;
}

.line1-part1 h5 {
    width: 5vw;
    text-align: right;
}

.line h1 {
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
    font-family: plain-light;

}


#now {
    font-size: 5vw;
    text-transform: uppercase;
    font-family: silkserif-regular;
    font-weight: 900;
    animation-name: anime;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0% {
        font-family: silkserif-regular;
        -webkit-text-stroke: 2px white;
        color: transparent;
    }

    100% {
        font-family: plain-light;
    }
}



#main {
    position: relative;
    background-color: #030303;
}

#page1 {
    min-height: 110vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4 {
    font-size: 0.8vw;
    font-weight: 500;
    font-family: plain-regular;
}

.hero {
    width: 72%;
    margin-left: 28%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 997;
}

.hero:nth-child(2) {
    margin-top: 18vh;
}

.hero h1 {
    font-size: 7vw;
    text-transform: uppercase;
    font-family: plain-regular;
    line-height: 7vw;
    font-weight: 600;
}

#num {
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: silkserif-light;
    padding-top: 1vh;
    left: 22%;
}



.hero h2 {
    font-size: 7vw;
    text-transform: uppercase;
    font-family: plain-regular;
    text-decoration: underline;
    text-decoration-color: white;
    line-height: 9vw;
    font-weight: 600;
}

.hero h3 {
    font-size: 7vw;
    text-transform: uppercase;
    font-family: plain-regular;
    line-height: 7vw;
    font-weight: 600;
}

.hero h2:hover {
    text-decoration: none;
    -webkit-text-stroke: 2px white;
    color: transparent;
}


#flag {
    height: 25vw;
    position: absolute;
    top: 0;
    opacity: 0;

    left: 0;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#hero3 {
    z-index: 999;
    position: relative;
}


#page2 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding-top: 17vh;
    position: relative;
    margin-top: 5vh;
    margin-bottom: 20vh;
}


#video-container {
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    /* background-color: red; */
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}

#video-cursor {
    background-color: #ffa63d;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#video-cursor i {
    font-size: 2vw;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 7vh 2vw;
    margin-bottom: 20vh;
}

#page3 h1 {
    font-size: 7vw;
    font-family: plain-light;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 28vw;


}

#page3 h1::before {
    content: "02";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: silkserif-light;
    padding-top: 2vh;
    left: 22%;
}

#page3 .underline {
    height: 2px;
    width: 100%;
    background-color: white;
    margin: 5vw 0;
    margin-left: 28vw;
}

#image-div-container {
    padding: 1vw;
    position: relative;
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.image-div {
    height: 38vw;
    width: 27vw;
    position: relative;
    overflow: hidden;
    margin: 2vw;
    flex-shrink: 0;
    /* background-color: blue; */
}

.image-div:nth-child(1) {
    height: 29vw;
    width: 22vw;
}

.image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.page3-circle1 {
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23vh;
    margin-left: 10vw;
    position: relative;

}

.page3-circle1 svg {
    height: 30%;
}


.page3-circle2 {
    height: 23vw;
    width: 23vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* margin-top: 23vh; */
    /* margin-left: 10vw; */

}

.page3-circle2 svg {
    height: 30%;
    rotate: -45deg;
}

.circle-in{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    scale:0;
    transition: all ease 0.3s;
}

.circle-in p{
    font-size: 0.95vw;
    color: black;
    width: 60%;
    font-family: plain-ligth;
    font-weight: 500;
    scale: 0;
    transition: all ease 1s;
    transition-delay: 0.2s;
    opacity: 0;
}

.page3-circle1:hover .circle-in{
    scale: 1;
}

.page3-circle1:hover p{
    scale: 1;
    opacity: 1;
}

.page3-circle2:hover .circle-in{
    scale: 1;
}

.page3-circle2:hover p{
    scale: 1;
    opacity: 1;
}



#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding-top: 5vh;
    margin-top: 50vh;
}

#page4-content {
    width: 72vw;
    margin-left: 28vw;
    font-family: plain-regular;
}

#page4-content h1 {
    font-size: 7vw;
    font-family: plain-light;
    font-weight: 300;
    text-transform: uppercase;

}

#page4-content h1::before {
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: silkserif-light;
    padding-top: 1vh;
    left: 22%;
}

#page4-content .underline {
    height: 2px;
    width: 100%;
    background-color: white;
    margin: 5vw 0;
}

#page4-content>p {
    font-size: 2.05vw;
    width: 50%;
    font-family: plain-light;
    font-weight: 100;
    /* margin-bottom: 3vw; */
}

#page4-flex {
    display: flex;
    gap: 2vw;
    margin-top: 3vw;
}

#page4-flex img {
    width: 48%;
}

#page4-flex p {
    font-size: 0.9vw;
    width: 20%;
}

#page4-blue {
    background-color: #3f7df4;
    width: 33vw;
    padding: 3vw;
    position: relative;
    margin-top: -35vh;
    margin-left: 26vw;
}

.blue-div-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5vw 0;
    border-bottom: 2px solid #ffffff94;
}

.blue-div-elem h4 {
    font-size: 1.35vw;
    font-weight: 500;
}

.blue-div-elem p {
    width: 50%;
    font-size: 0.7vw;
    justify-content: center;
}

#page4-content .underline2 {
    height: 2px;
    width: 100%;
    background-color: white;
    margin-top: 1vw;
}

#work {
    margin-top: 2vh;
    padding: 0;
    font-size: 1vw !important;
    font-family: plain-light;
}

#page5 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    padding: 5vw 0;
    position: relative;
    margin-top: 40vh;
}

.elem {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 0vw;
}

.elem h1 {
    font-size: 7vw;
    -webkit-text-stroke: 1px white;
    text-transform: uppercase;
    font-weight: 400;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: scroll;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.elem span {
    font-family: silkserif-regular;
    -webkit-text-stroke: 1px white;
    color: transparent;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.elem2 {
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 0vw;
}

.elem2 h1 {
    font-size: 7vw;
    -webkit-text-stroke: 1px white;
    text-transform: uppercase;
    font-weight: 400;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: scroll2;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.elem2 span {
    font-family: silkserif-regular;
    -webkit-text-stroke: 1px white;
    color: transparent;
}

@keyframes scroll2 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

#footer {
    height: auto;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding-left: 28vw;
    margin-bottom: 20vh;
}

#footer h1 {
    font-size: 7vw;
    width: 60vw;
    font-family: plain-regular;
    text-transform: uppercase;
    margin-top: 10vh;
}

#footer h1::before {
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: silkserif-light;
    padding-top: 1vh;
    left: 22%;
}

#footer .underline {
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin: 2vw 0;
}

#footer-div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

#footer-div h6 {
    font-size: 1vw;
    font-family: plain-light;
    padding-bottom: 3vh;
    font-weight: 100;
}

#footer-div h5,
#footer a {
    font-size: 1.2vw;
    font-family: plain-regular;
    margin: 0.3vh 0;
    font-weight: 100;
}

#footer p {
    font-size: 1vw;
    font-family: plain-light;
    font-weight: 100;
    padding-bottom: 5vh;
}

._canvas_container {
    z-index: 999999 !important;
    pointer-events: none;
}